@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Details</h2>
<br />
@if (Model != null)
{
    <h4>@Model.Name</h4>
    if (Model.Birthdate.HasValue)
    {
        <p>Membership Type: @Model.Membership.Name</p>
        <p>Birthdate: @Model.Birthdate.Value.ToShortDateString()</p>
    }
}
