@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Customers</h2>

@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customers</th>
                <th>Discount Rate</th>
                <th>Membership Type</th>
            </tr>
        </thead>
        @foreach (var customer in Model)
        {
        <tr>
            <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
            <td>@customer.Membership.DiscountRate<text>%</text></td>
            <td>@customer.Membership.Name</td>
        </tr>
        }
    </table>
}

<a href="@Url.Action("New","Customers",null)" class="btn btn-primary" role="button">Add Customer</a>