@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Customers</h2>

<table class="table">
    <thead>
        <tr>
            <th>Customers</th>
        </tr>
    </thead>
    @foreach (var customer in Model)
    {
    <tr>
        <td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</td>
    </tr>
    }
</table>